@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Ubuntu&display=swap');


*{
  margin: 0px;
  padding: 0px;
  font-family: 'Poppins', sans-serif;
  font-family: 'Ubuntu', sans-serif;
}

body{
  background-color: rgb(18, 61, 106);
}

header{
  background-color: white;
  padding: 20px;
  text-align: center;
}

header > h1{
  color: rgb(18, 61, 106);
  font-weight: bold;
}

.scoreboard{
  margin: 20px auto;
  width: 200px;
  height: 100px;
  line-height: 90px;
  color: white;
  border: 5px solid rgb(253, 211, 127);
  border-radius: 10px;
  font-family: 'Poppins', sans-serif;
  font-family: 'Ubuntu', sans-serif;
  font-size: 60px;
  text-align: center;
  position: relative;
}

.badge{
  background-color: rgb(253, 211, 127);
  color: rgb(18, 61, 106);
}

#user-label{
  position: absolute;
  text-align: center;
  vertical-align: middle;
  line-height: 27px;
  border-radius: 5px;
  width: 50px;
  height: 30px;
  font-size: 20px;
  top: 30px;
  left: -20px;
}

#comp-label{
  position: absolute;
  text-align: center;
  vertical-align: middle;
  line-height: 27px;
  border-radius: 5px;
  width: 50px;
  height: 30px;
  font-size: 20px;
  top: 30px;
  right: -25px;
}

.result{
  text-align: center;
  font-family: 'Poppins', sans-serif;
  font-family: 'Ubuntu', sans-serif;
  font-size: 30px;
  font-weight: bold;
  color: rgb(253, 211, 127);
}

.options{ /*choice**/
  text-align: center;
  margin: 50px;
}

.choice{
  display: inline-block;
  border: 3px solid rgb(253, 211, 127);
  padding: 10px;
  margin: 0 20px;
  border-radius: 50%;
  transition: all 0.5s ease; /*transition-property, duration, timing function*/
}

.choice:hover{
  cursor: pointer;
  width: 100px;
  background-color: rgba(125, 213, 255);
  transform: scale(1.3);
}

.icon{
  height: 100px;
}

#action-message{
  color:rgb(253, 211, 127);
  text-align: center;
}



